*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #00aaff, #270053);
  margin: 0;
}

.calculatorGrid {
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
  margin-top: 2rem;
}

.calculatorGrid > button {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
  cursor: pointer;
  font-size: 2rem;
  outline: none;
}

.calculatorGrid > button:hover,
.calculatorGrid > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.output {
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  justify-content: space-around;
  overflow-x:auto;
  padding: 0.75rem;
  word-break: break-all;
  word-wrap: break-word;
}

.output .previousOperand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .currentOperand {
  color: white;
  font-size: 2.5rem;
}

.notes {
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  justify-content: center;
  overflow: auto;
  padding-top: 10px;
  width: 100%;
  display: grid;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  max-width: 500px;
  padding: 0;
  padding-top: 10px;
  min-width: 384px;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  
  
  table td:last-child {
    border-bottom: 0;
  }
}


/**
* Tooltip customized
* @see https://www.esthersola.com/css-tooltip-title-atributo/
*/
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
  font-family: Raleway;
  position: absolute;
  padding: 3px 20px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
}

[data-title] {
  position: relative;
}
